<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kiwiboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StudentRegistration"></activity>
        <activity android:name=".ResetPassword"></activity>
        <activity android:name=".Login" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfMain" />
        <activity android:name=".StudentRosterFragment" />
        <activity android:name=".Mode" />
        <activity android:name=".StudentQuestionLogFragment" />
        <activity android:name=".ProfQuestionLogFragment" />
        <activity android:name=".ProfReportFragment" />
        <activity android:name=".CreateMultipleChoice"></activity>
        <activity android:name=".CreateCourseFragment" />
        <activity android:name=".CreateShortAnswer" />
        <activity android:name=".StudentShortAnswer" />
        <activity android:name=".StudentGradesFragment" />
        <activity android:name=".StudentMultipleChoice" />
        <activity android:name=".AddCourseFragment" />
        <activity android:name=".StudentMain" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".ProfRegistration"/>
        <activity android:name=".ProfSettings" />
        <activity android:name=".StudentSettings" />
    </application>

</manifest>